<div class="jumbotron jumbotron-small">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h1 class="display-3 text-light">Game Dev Stories</h1>
        <h5 class="text-light">A blog from an aspiring game developer</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'article', obj: @articles.order(created_at: :desc) %>
    </div>
  </div>
</div>