<div class=jumbotron>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1>Game Dev Stories</h1>
        <h5>A blog from an aspiring game developer</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <%= render 'article', obj: @articles.order(created_at: :desc) %>
    </div>
  </div>
</div>