<div class="jumbotron jumbotron-small">
  <div class="container">
    <h1 class="display-3 text-light">My Portfolio</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="puzzle_game_menu.png">
        <div class="card-body">
          <h5 class="card-title">First Thing</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="puzzle_game_menu.png">
        <div class="card-body">
          <h5 class="card-title">First Thing</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="puzzle_game_menu.png">
        <div class="card-body">
          <h5 class="card-title">First Thing</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco</p>
        </div>
      </div>
    </div><!-- card-deck -->
  </div><!-- row -->
</div><!-- container -->