<div class="jumbotron jumbotron-small">
  <div class="container">
    <h1 class="display-3 text-light">My Portfolio</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-deck">
      <% @portfolio_items.each do |portfolio_item| %>
        <div class="card">
          <%= image_tag portfolio_item.upload.url(:medium), :class => 'card-img-top portfolio_index_image' %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to portfolio_item.title, portfolio_item_path(portfolio_item), :class => 'text-dark' %></h5>
            <p class="card-text"><%= truncate(portfolio_item.content, length: 350) %></p>
          </div>
        </div>
      <% end %>
      <!-- <div class="card">
        <img class="card-img-top" src="puzzle_game_menu.png">
        <div class="card-body">
          <h5 class="card-title">First Thing</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="puzzle_game_menu.png">
        <div class="card-body">
          <h5 class="card-title">First Thing</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco</p>
        </div>
      </div> -->
    </div><!-- card-deck -->
  </div><!-- row -->
</div><!-- container -->